*{
	box-sizing: border-box;
}
.row:after{
content: "";
display: table;
clear: both;
}
.column{
	float:left;
	width: 50%;
  	height: 100%;
    padding: 10px;
}
.left{
	width: 40%;
	padding: 20px;

}
.right{
	width: 60%;
	word-break: break-all;
	overflow-y: auto;
	
}
body{
	color: #4F4F51;

}
p{
	font-size: 20px;
	font-family: brush script;
}
button{
	background-color:#184A45FF ;
	color: white;
	font-size: 16px;
	display: inline-block;
	text-align: center;
	padding: 8px 16px;
	border:2px solid black;
	border-radius: 5px;

}
ul{
	margin: 0;
	padding: 0;
}
li{
	display: block;
	width: 75px;
	padding: 8px 16px;
	background-color: black;
	border-radius: 5px;
}
a.active{
	background-color: orange;
}
h1{
	font-family:brush script;
	text-align: center;
	font-size: 50px;
}
.imgcol1{
	float: left;
	width: 50%;
	padding:5px 4px;
	margin-top: 5px;

}
hr{
	color: black;
}
.container{
	background-color:gray;
	width:80%;
	border-radius: 10px;
}
.skill{
	background-color: rgb(116,194,0);
	color: white;
	padding: 1%;
	text-align: right;
	border-radius: 15px;
}
.html{
	width: 90%;
}
.js{
	width: 79%;
}
.webdesign{
	width: 84%
}